@font-face {
  font-family: "Infra";
  src: url("/fonts/Infra-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Infra";
  src: url("/fonts/Infra-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Infra";
  src: url("/fonts/Infra-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: spotify-circular;
  src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Book.woff2")
      format("woff2"),
    url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Book.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: spotify-circular;
  src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff2")
      format("woff2"),
    url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: spotify-circular;
  src: url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Black.woff2")
      format("woff2"),
    url("https://encore.scdn.co/1.2.3/CircularSpotify-UI-Latin-OS2v3-Black.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  color: #1f1f1f;
  font-family: Infra, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
}

div,
p,
span {
  font-size: 0.9375rem;
}

.MuiPopover-paper {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}
